.myInput {
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: 1;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    margin:auto;
}

.myInputLabel {
    width:40px;
    margin-left: auto;
    margin-right: auto;
}

.transition{
  -webkit-transition: opacity 1000ms ease-in-out,margin-left 500ms ease-in-out;
  -moz-transition: opacity 1000ms ease-in-out,margin-left 500ms ease-in-out;
  -ms-transition: opacity 1000ms ease-in-out,margin-left 500ms ease-in-out ;
  -o-transition: opacity 1000ms ease-in-out,margin-left 500ms ease-in-out;
  transition: opacity 1000ms ease-in-out,margin-left 500ms ease-in-out;
  opacity: 0.0;
}

.transition{
    opacity: 1.0;
    margin-left: 0;
}

.myProgress {
    margin:auto;
}

.progressWrapper {
    margin:auto;
    width:70%;
}
progress[value]::-moz-progress-bar {
    background: #0063a6;
    border-radius:9px;
}

progress[value^="100"]::-moz-progress-bar {
    background-color:  #00cc66;
    border-radius:9px;
}

progress[value]::-webkit-progress-bar {
    background: #0063a6;
    border-radius:9px;
}

progress[value^="100"]::-webkit-progress-bar {
    background-color:  #00cc66;
    border-radius:9px;
}

.galleryInput {
    border-radius: 7px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.galleryLabel {
    margin-left: auto;
    margin-right: auto;
}

.asterix {
    font-size:70%;
    margin-left: auto;
    margin-right: auto;    
}