md-menu:host md-menu-content {
    position: absolute;
    top:10;
    right: 0;
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
    z-index: 100;
    background: #f1f1f1;
    color: #8f8f8f;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.20s linear;
}

md-menu:host md-menu-content [md-button] {
    color: #8f8f8f !important;
    width: 100%;
    margin: 0;
}

md-menu:host .md-backdrop {
    display: none;
    z-index:50;
  pointer-events: auto;
}

md-menu.show-menu:host md-menu-content {
    visibility: visible;
    opacity: 1;
}

md-menu.show-menu:host md-backdrop {
    display: block;
}

md-menu:host {
    position: relative;
    display: block;
}