img.galleryPhoto {
    height: 100%;
    width: 100%;
}

img.galleryPhoto:hover {
    height: 100%;
    width: 100%;
    background-size: cover;
    position: relative;
}

md-card.galleryPhoto{
    width: 100px;
    height: 100px;
    transition: all 0.4s ease-in-out;
}
md-card.galleryPhoto:hover {
    width: 200px;
    height: 200px;
    transition: all 0.4s ease-in-out;
}