<md-toolbar>
  <div class="md-toolbar-tools">
    <button md-button class="md-icon-button md-accent" aria-label="Favorite">
      <a href="www.google.se"><i class="material-icons">face</i></a>
    </button>
    <h2>
      <a [routerLink]="['About']"><span>{{title}}</span></a>
    </h2>

    <button md-button  aria-label="Favorite" (click)="clicked('Favorite')">
      Setup
    </button>
    <button md-button  aria-label="More" (click)="clicked('Show More')">
      Examples
    </button>
    <button md-button  aria-label="More" (click)="clicked('Show More')">
      Shaders
    </button>
  </div>
</md-toolbar>

<!--<router-outlet></router-outlet>-->
